* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    background-color: #F6F8FA;
    background-image: url(Beauty\ Vlogger.png);
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
}

header {
    border-bottom: 1px solid gray;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

/*/ HEADER LEFT SIDE /*/
.left-side {
    display: flex;
    align-items: center;
    gap: 13px;
}

/*/ MENU BUTTON SVG ICON /*/
.menu-btn {
    height: 33px;
    color: #59636E;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #D1D9E0;
    cursor: pointer;
}

/*/ MENU BUTTON SVG ICON HOVER /*/
.menu-btn:hover {
    background-color: #EAEDF0;
}

/*/ PRIFILE-1 SVG ICON /*/
.profile-1-svg {
    height: 33px;
    transition: 0.3s;
    cursor: pointer;
}

/*/ PRIFILE SVG ICON HOVER /*/
.profile-1-svg:hover {
    transform: scale(1.1);
}

/*/ USER NAME & REPO NAME /*/
.details {
    display: flex;
    align-items: center;
    gap: 8px;
}

/*/ USER NAME /*/
.user-name {
    font-size: 14px;
    cursor: pointer;
}

/*/ USER NAME HOVER /*/
.user-name:hover {
    color: royalblue;
    text-decoration: underline;
}

/*/ SLASH KEY SVG ICON /*/
.slash-key {
    height: 18px;
}

/*/ REPO NAME /*/
.repo-name {
    font-size: 14px;
    cursor: pointer;
}

/*/ REPO NAME HOVER /*/
.repo-name:hover {
    color: royalblue;
    text-decoration: underline;
}

/*/ HEADER RIGHT SIDE /*/
.right-side {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*/ INPUT FIELD BOX /*/
.input-box {
    position: relative;
}

/*/ INPUT FIELD /*/
.input-box input {
    height: 32px;
    width: 350px;
    padding-left: 33px;
    border: 1px solid #D1D9E0;
    outline: none;
    background-color: #F6F8FA;
    cursor: pointer;
    border-radius: 5px;
}

/*/ SEARCH INPUT HOVER /*/
.input-box:hover input,
.input-box:hover span {
    border: 1px solid #59636E;
}

/*/ SEARCH INPUT FOCUS /*/
.input-box input:focus {
    border: 1px solid royalblue;
}

/*/ SEARCH SVG ICON /*/
.search-svg {
    position: absolute;
    height: 18px;
    fill: #59636E;
    top: 7px;
    left: 9px;
    cursor: pointer;
}

/*/ SLASH KEY TEXT /*/
.input-box span {
    border: 0.1px solid #59636E;
    padding: 0px 6px;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    left: 68.5px;
    top: 6px;
}

/*/ SELECTOR-BOX WITH SVG ICONS /*/
.selector-box {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*/ SELECTOR-BOX WITH SVG ICONS HOVER /*/
.selector-box:hover select,
.selector-box:hover .small-arrow,
.selector-box:hover .copilot-svg {
    background-color: #EAEDF0;
}

/*/ SELECT FIELD /*/
.selector-box select {
    height: 32px;
    border-radius: 5px;
    width: 54px;
    background-color: #F6F8FA;
    outline: none;
    border: 1px solid #D1D9E0;
    appearance: none;
    cursor: pointer;
}

/*/ COPILOT SVG ICON /*/
.copilot-svg {
    height: 31px;
    fill: #59636E;
    position: absolute;
    border-right: 1px solid #D1D9E0;
    box-sizing: border-box;
    padding: 7px;
}

/*/ SMALL ARROW SVG ICON /*/
.small-arrow {
    position: absolute;
    right: 4px;
}

/*/ PLUS SVG ICON /*/
.plus-svg-icon {
    height: 31px;
    fill: #59636E;
    position: absolute;
    box-sizing: border-box;
    padding: 7px 10px;

}

/*/ ISSUES BOX /*/
.issue-box {
    height: 31px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D1D9E0;
    cursor: pointer;
    fill: #59636E;
}

/*/ ISSUES BOX HOVER /*/
.issue-box:hover {
    background-color: #EAEDF0;
}

/*/ REQUEST BOX /*/
.request-box {
    height: 31px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D1D9E0;
    cursor: pointer;
    fill: #59636E;
}

/*/ REQUEST BOX HOVER /*/
.request-box:hover {
    background-color: #EAEDF0;
}

/*/ NOTIFICATION BOX /*/
.notification-box {
    height: 31px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D1D9E0;
    cursor: pointer;
    fill: #59636E;
}

/*/ NOTIFICATION BOX HOVER /*/
.notification-box:hover {
    background-color: #EAEDF0;
}

/*/ PROFILE-2 BOX /*/
.profile-2-box {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 1px solid #D1D9E0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

/*/ PRIFILE-2 IMAGE HOVER /*/
.profile-2-box:hover {
    transform: scale(1.1);
}

/*/ PROFILE-2 IMAGE /*/
.profile-2-box img {
    height: 34px;
    border-radius: 50%;
}

/*/ MEDIA QUIERY FOR TABLETS /*/
@media screen and (max-width: 1100px) {
    .details {
        display: none;
    }
    .input-box input {
        width: 200px;
    }
}

/*/ MEDIA QUIERY FOR MOBILES /*/
@media screen and (max-width:660px) {
    .input-box {
        display: none;
    }
}
